/* Homepage */

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgba(20, 44, 65, 0), rgb(255, 196, 0));
  }
  * {
    box-sizing: border-box;
  }
  
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header .logo {
   width: 20%;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  .title1{
    text-transform:uppercase;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .photo1{
    width: 50%;
    margin-top: 1rem;
    display: block;
    float: left;
    margin-right: 1rem;
    margin-left: 0.5rem;
  }

  .text1{
    color: rgb(204, 58, 168);
    margin-left: auto;
    font-size:x-large;
    margin-bottom: 18rem;
  }

  .title2{
    margin-top: 1rem;
    color: rgb(181, 181, 240);
    font-size: x-large;
    margin-top: 4rem;
  }

  .all-nieuws {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
    text-align: center;
  }
  
  .all-nieuws > h1, .nieuw {
    margin: 10px;
    padding: 5px;
  }
  
  .nieuw {
    background: rgb(253, 255, 144);
    font-weight: bold;
  }
  
  .nieuw > h2, a {
    margin: 4px;
    font-size: 95%;
    text-decoration: none;
    color: black;
  }

  .footer, .footerici {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }


 /* Overzicht */
 .leftcolumn{
  float: left;
  width: 50%;
}
.rightcolumn{
  float: left;
  width: 22%;
  padding-left: 20px;
}
.column{
  float: left;
  width: 22%;
  padding-left: 20px;
}
.card{
  background-color: rgb(235, 210, 210);
  padding: 20px;
  margin-top: 20px;
}
.row{
  content: "";

  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn, .column{
      width: 100%;
      padding: 0;
  }
}

#submit[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit[type=submit] :hover{
   background-color: yellow;
}







/* Registeratie pagina */

  /* Add padding to containers */
  .container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    background-color: white;
    margin-top: 2rem;
    border: 0.2rem solid rgb(181, 181, 248);
    
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(221, 219, 75);
    outline: none;
    text-align: center;
    color: blue;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align: center;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  .registertext{
    text-align: center;
    font-size:3em;
    color: #04AA6D;
  }

  /* **** Login pagina ***** */

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #6f57d8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }